@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalnia+Glaze:wght@100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    background: #fff;
    line-height: 1.65;
}
.header-container{
    width: 100%;
    height: 100vh;
    animation: bg-animation 4s infinite ease-in-out;
    -webkit-animation: bg-animation 4s infinite ease-in;
}
@keyframes bg-animation {
    0%{
        background: url(../img/background.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    90%{
        background: url(../img/background2.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background: url(../img/background.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header a{
    text-decoration: none;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbcac0;
    padding: 5px 0;
}
.header-middle-section{
    font-size: 0.65rem;
    letter-spacing: 3px;
}

.header-right-section p a{
    font-size: 0.8rem;
    color: black;
    margin-right: 20px;
}
.header-middle{
     display: flex;
     background-color: rgba(145, 141, 141, 0.411);
     justify-content: space-between;
     align-items: center;
     color: white;
     padding: 10px 60px;
}
.header-left-section{
    display: flex;
    gap: 4px;

}
.header-left-section select{
    border: none;
    background-color: transparent;
    color: white;
   
}

.header-middle-section h2{
    font-size: 1.6rem;
    letter-spacing: 1rem;
    font-weight: 100;
}

.header-right-section > img{
   margin-right: 30px;
}
.header-bottom{
    background-color: rgba(145, 141, 141, 0.411);
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-bottom ul{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.header-bottom ul li a{
    color: white;
    font-weight: 200;
    font-size: 0.89rem;
    letter-spacing: 0.1rem;
}
.header-bottom ul li:last-child{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6rem;
}
.header-bottom ul li a:hover{
    padding: 11px 10px;
    background-color: bisque;
    color: black;
}

/*****Main Section *****/ 
main{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.first-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.first-section-top h2{
    width: 100%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: normal;
}
.first-section-bottom{
   display: flex;
   width: 80%;
   
}
.first-section-bottom .img-section img{
    width: 88%;
}
.img-section{
    position: relative;
}
.img-section p{
    position: absolute;
    width: 88%;
    bottom: 2.1%;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.543);
    color: white;
}
/* Section 2 */
.second-section{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.sec2-img{
    position: relative;
}
.sec2-img img{
    width: 100%;
    height: 82%;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.1s linear;
}
.sec2-img img:hover{
    box-shadow: 0 0 10px;
    border-radius: 10px;
    transform: scaleZ(1.2);
    -webkit-transform: scaleZ(1.2);
    -moz-transform: scaleZ(1.2);
    -ms-transform: scaleZ(1.2);
    -o-transform: scaleZ(1.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sec2-img .img-dis{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    bottom: 18%;
    padding: 10px 0;
    text-align: center;
    color: white;
    animation: imgHover 1s 1s forwards;
    -webkit-animation: imgHover 1s forwards;
}
.sec2-img .img-dis:hover{
    background-color: rgba(0, 0, 0, 0.543);
   
}
@keyframes imgHover {
    0%{
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
        background-color: rgba(0, 0, 0, 0.543);
}
    100%{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        
}
    
}
.img-dis h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 2.3rem;
    font-weight: 600;
    font-style: normal;
}
.img-dis button{
    padding: 12px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

/* section 3 */
.third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.third-section img{
    width: 80%;
    height: 90vh;
    transition: all linear 1.4s;
    -webkit-transition: all linear 1.4s;
    -moz-transition: all linear 1.4s;
    -ms-transition: all linear 1.4s;
    -o-transition: all linear 1.4s;
}
.third-section .img-dis{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.third-section img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* section 4 */
.fourth-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.fourth-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.fourth-top h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: normal;
}
.fourth-top ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.fourth-top ul li:hover{
    border: 1px solid black;
    padding: 2px 8px;
    background-color: beige;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fourth-top ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.my-list-target a{
    padding: 3px 0;
    border-bottom: 1px solid;
}
.fourth-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 20px;
 }
.img-container img{
    width: 87%;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.img-container img:hover{
    transform: translate(10px , 10px);
    box-shadow: 0 0 10px;
    padding: 2px;
}

.img-container p a, .img-container span{
   
    text-decoration: none;
    color: gray;
    font-weight: 300;
    letter-spacing: 1.3px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.img-container p a {
    color: black;
    font-weight: 400;
    
}

/* fifth section */
.fifth-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.fifth-section .fifth-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fifth-top button{
    background-color: bisque;
    padding: 15px 25px;
    border: rgba(255, 222, 173, 0.791);
}
.fifth-top h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: normal;
}
.fifth-bottom{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.fifth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.fifth-container img{
    width: 100%;
}
.container-discription h2{
    padding-top: 10px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 3.2rem;
    font-weight: 600;
    font-style: normal;
}
.container-discription p{
    color: gray;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   font-weight: 200;
   letter-spacing: 1px;
   font-size: 1.2rem;
}
 /***** Main End Section *****/


 .footer-top{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #dbcac0;
    padding: 30px 30px 20px 30px;
}
.footer-top p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 100;
}
.footer-top p img{
    max-width: 20%;
}
.footer-middle{
    display: flex;
    background-color: #dbcac0;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    
}
.middle-discription{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
.middle-discription h2{
    color: white;
    font-size: 1.6rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}
.middle-discription a{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 5px;
}
.middle-discription a img{
    color: white;
   
}
footer a{
    text-decoration: none;
    color: black;
}
.footer-bottom{
    display: flex;
    gap: 15px;
    padding: 20px 40px;
    background-color: gray;
    
}
.fotter-section1{
    width: 338px;
    
}
.fotter-section1 .top{
    display: flex;
    justify-content: space-between;
    width: 338px;
    
}
.middle p{
    font-size: 0.9rem;
}
.fotter-section1 .top a img{
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fotter-section2{
    width: 454px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2-grid{
    width: 454px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    padding: 5px 20px;
    font-size: 0.9rem;
}

.fotter-section3{
    width: 227px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: 0.8rem;
}
.fotter-section4{
    width: 348px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fotter-section4 span, .fotter-section4 a{
    font-size: 0.8rem;
}
.fotter-section4 span, .fotter-section4  a{
    padding-left: 10px;
}
.fotter-section1 .top p{
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: 100;
}
.fotter-section2 p, .fotter-section3 p , .fotter-section4 p{
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}


/***** footer End Section *****/


