.name{
    color: rgb(170,107,228);
    padding: 0 10px;
}
.name:hover{
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            border-top: 1px solid rgb(0, 195, 255);
            border-right: 1px solid rgb(0, 195, 255);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
}
#element{
    color: rgb(170,107,228);
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 20px 84px;
}
.textGray{
    color: gray;
}
.leftSection .buttons .btn{
    padding: 8px 10px;
    font-size: 1.02rem;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .btn:nth-child(1){
    background-color: yellow;
}
.buttons .btn:nth-child(1):hover{
    background-color: transparent;
    color: white;
}
.btn:active{
    background-color: orange;
}
